{% extends "base.html" %}

{% block content %}
    <h1>Adicionar Carro</h1>
    <form method="POST">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" required>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>

        <label for="quilometragem">Quilometragem:</label>
        <input type="text" id="quilometragem" name="quilometragem" required>

        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" required>

        <label for="cliente_id">Cliente:</label>
        <select name="cliente_id" required>
            {% for cliente in clientes %}
                <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
            {% endfor %}
        </select>

        <button type="submit">Adicionar</button>
    </form>
{% endblock %}
