{% extends "base.html" %}

{% block content %}
    <h1>Editar Cliente</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ cliente[1] }}" required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ cliente[2] }}" required>

        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" value="{{ cliente[3] }}" required>

        <label for="contato">Contato:</label>
        <input type="text" id="contato" name="contato" value="{{ cliente[4] }}" required>

        <button type="submit">Salvar</button>
    </form>
{% endblock %}
