{% extends "base.html" %}

{% block content %}
<h2>Editar Carro</h2>
<form method="post">
    <label>Marca:</label>
    <input type="text" name="marca" value="{{ carro[1] }}">
    <label>Modelo:</label>
    <input type="text" name="modelo" value="{{ carro[2] }}">
    <label>Quilometragem:</label>
    <input type="number" name="km" value="{{ carro[3] }}">
    <label>Placa:</label>
    <input type="text" name="placa" value="{{ carro[4] }}">
    <button type="submit">Salvar</button>
</form>
{% endblock %}
